# Logs
logs
*.log

# VS Code
*.suo
*.user
*.userosscache
*.sln.docstates
*.vscode/
*.vs/
*.ide/
*.sln.ide
*.VisualState.xml
TestResult.xml

# Vim temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Windows image file caches & ._*
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
