# Set the default behavior, in case people don't have core.autocrlf=true set.
# https://help.github.com/en/articles/dealing-with-line-endings
*                       text=auto
*.gitattributes         text
.gitignore              text

# Exclude files from exporting.
.gitattributes    export-ignore
.gitignore        export-ignore

# Visual Studio Studio/Core (because I use it)
#*.sln            text eol=crlf
#*.xproj          text eol=crlf
*.filters         text eol=crlf
*.props           text eol=crlf
*.vcproj          text eol=crlf
*.vcxitems        text eol=crlf
*.vcxproj         text eol=crlf
*.cs       diff=csharp

# Declare files that will always have CRLF line endings on checkout.
# https://help.github.com/en/articles/dealing-with-line-endings
# https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
# https://git-scm.com/docs/gitattributes
#*.reg                            diff=utf16strings
#*.reg            text working-tree-encoding=UTF-16
*.bat                                text eol=crlf
*.BAT                                text eol=crlf
*.cmd                                text eol=crlf
*.CMD                                text eol=crlf
*.inf                   diff linguist-language=INI
*.ps1                                       eol=lf
*.reg         diff master-encoding=UTF-16 eol=crlf
*.REG         diff=astextplain
*.sh                                        eol=lf
*.txt                                     eol=crlf
*.TXT                                     eol=crlf

# Denote all files that are truly binary and should not be modified.
*.cer           binary
*.dll           binary
*.exe           binary
*.jpg           binary
*.pdf           binary
*.png           binary
*.rar           binary
*.zip           binary

# LaTeX
*.BIB           eol=crlf
*.LYX           eol=crlf
*.TEX           eol=crlf
*.bib           eol=crlf
*.lyx           eol=crlf
*.LYX           eol=crlf
*.tex           eol=crlf

# Handle Group Policy templates as text so they can be diff'ed
*.adml          diff linguist-language=XML
*.admx          diff linguist-language=XML
*.adm           diff linguist-language=XML

# In Visual Studio Code set the following (encoding per language):
# https://github.com/Microsoft/vscode/issues/4891
# https://code.visualstudio.com/docs/languages/identifiers
#"[reg]": {
#    "files.encoding": "utf16le",
#    "files.autoGuessEncoding": true,
#}

# In your .gitconfig you need to set the following
# https://stackoverflow.com/questions/777949/can-i-make-git-recognize-a-utf-16-file-as-text/21020607#21020607
#[diff "utf16"]
#    textconv = "iconv -f utf-16 -t utf-8"